body {
    background-color: #FDF6E3;
    color: #1A1A1A;
}

h1, h2, h3 {
    font-family: 'Cormorant Garamond', sans-serif;
}

.header a {
    text-decoration: none;
    color: #1A1A1A;
    font-family: "Cormorant Garamond" sans-serif;
}

ul {
    list-style-type: none;
}

.header ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    gap: 18px;
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: #1A1A1A 1px solid;
}

div.header {
    padding: 16px;
}

.left-link {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-right: auto;
}

li p {
    font-family: "Cormorant Garamond", sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin: 0px;
}

.events-list li {
    font-size: 24px;
}

.events-list ul {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    margin-top: 24px;
    margin-left: -20px;
    gap: 24px;
}

.events-list a {
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 22px
}

@media (max-width: 780px) {
    .header {
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: row;
        justify-content: space-around;
        border-bottom: none;
    }

    a {
        padding-right: 0;
    }

    .header ul {
        flex-direction: row;
        align-items: center;
        padding: 0;
        padding-top: 16px;
        font-size: 14px;
    }

    h2.left-link {
        displey: flex;
        justify-content: center;
        margin: 0;
    }

    .events-list li p {
        flex-direction: column;
        align-items: center;
        font-size: 12px;
    }

    .events-list ul {
        margin-left: 32px;
        padding-left: 0;
    }

    .events-list a {
    font-size: 12px
    }
}
    
}